body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1, h2 {
    text-decoration: underline;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

.alert {
    color: red;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  overflow-x: auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  overflow-x: auto;
}

.time {
  text-align: center;
  font-size: 25px;
}

.resub {
    color: red;
}