body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
    font-size: 25px;
    text-decoration: underline;
}

h2 {
    font-size: 20px;
    text-decoration: underline;
}

.alert {
    color: red;
}

.red {
    color: red;
}

.green {
    color: green;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.time {
  text-align: center;
  font-size: 25px;
}

.resub {
    color: red;
}